/* Estilos específicos para las vistas del Contribuyente */
.main-content {
    padding: 40px 0;
}

.form-card {
    background-color: var(--bg-white);
    padding: 40px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    max-width: 800px;
    margin: 0 auto;
}

.form-card__title {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--primary-color);
}

#geocode-btn {
    margin-top: 5px;
}